.custom-box-space{
    border: 1px solid #d8dde6; 
    border-radius: 1rem;    
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    height: 235px;
    margin-top: 5px;
}
.staff-chart{
	max-height: 200px; 
	overflow-y: auto;
}

::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
    background:#ddf6ff ; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #dfdfdf; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #008fd7; 
}