* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #ffffff;
    padding: 16px;
    overflow: hidden;
     
}

.dropdown {
    margin-bottom: 16px;
}

select {
    width: 100%;
    padding: 8px;
    border: 2px solid #08a0ff;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.course-list {
    max-height: 200px;
    overflow-y: scroll;
}

.course-item {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.course-item:last-child {
    border-bottom: none;
}

.course-title {
     font-weight: 600;
    font-size: large;
    margin-bottom: 4px;
    color: #000;
}

.course-info {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    font-size: 16px;
    color: #777;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}